
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}


.navbar {
    background-color: #333;
}

.main-menu, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

.submenu {
    display: none;
}

.submenu li a {
    color: #ddd;
}

.dropdown:hover .submenu {
    display: block;
}