body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.profile-card {
    background-color: white;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 250px;
}


.profile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.info {
    padding: 20px 10px 5px 10px;
}

.login {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.description {
    color: #888;
    font-size: 14px;
}

.location {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
}

.socials {
    padding-bottom: 20px;
}

.socials img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


.contact-btn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
}

.contact-btn:hover {
    background-color: #333;
}