body {
    transition: background-color 0.5s;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

button:active {
    background-color: #ff0000;
}