html, body {
    height: 100%;
}

* {
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
    text-align: center;
}

img {
    max-width: 70%;
}

.top-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.pink-zone {
    background-color: pink;
    width: 100%;
}



.shop-container {
    display: flex;
    justify-content: center;
}

.shop-item {
    text-align: center;
    width: 250px;
}

.shop-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.footer {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 20px;
    text-align: center;
    color: #652b2b;
}

.first-cell { background-color: #C2C584; }
.second-cell { background-color: #F7C5B0; }


@media (max-width: 600px) {
    .top-images img {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
    }

    .shop-item {
        width: 100%;
        max-width: 400px;
    }

    table, tbody, tr, td {
        width: 100%;
    }

    td {
        height: auto;
    }

    table {
        display: flex;
        flex-direction: column;
    }
}
