html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.first-cell {
    background-color: #C2C584;
}

.second-cell {
    background-color: #F7C5B0;
}

@media screen and (max-width: 768px) {
    table, tbody, tr {
        display: block;
        width: 100%;
        height: 100%;
    }

    td {
        display: block;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }
}